*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --backgroundColor: #ECECEC;
  --primaryBlueColor: #1D3557;
  --secondaryBlueColor: #7895BF;
  --secondaryRedColor: #E53945;

  --headlineBig: clamp(4rem, 6.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);

  --borderSize: 1px;
  --borderRadius: 10px;
}

body {
  background-color: var(--backgroundColor);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.projects {
  padding: 5% 7%;
}

.projects__header {
  padding-right: 20%;
}

.projects__header>h1 {
  font-size: var(--headlineBig);
  color: var(--primaryBlueColor);
}